body {
    background: #fff;
    color: #000;
    margin: 0; padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.5;
}
body.testing {
    background: #555;
    color: #fff;
}
body.testing #intro {
    display: none;
}
#image-list {
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
}
#image-list li {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
@media (min-aspect-ratio: 5/2) {
    #image-list {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-aspect-ratio: 4/3) {
    #image-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-aspect-ratio: 1/1) {
    #image-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-aspect-ratio: 1/3) {
    #image-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
#image-list img {
    border: 2px solid black;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}
#graph svg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0; padding: 0;
    opacity: 0.95;
}
#graph span {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    content: "";
    vertical-align: middle;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-clip: border-box;
    margin: 0 0.1ex 0 0;
}
#graph div {
    position: absolute;
}
#graph div.top {
    top: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 1px 1px black;
}
#graph div.bot {
    bottom: 20px;
    right: 20px;
    color: black;
    text-shadow: 1px 1px 0 white, 0px -1px 2px white;
    text-align: right;
}
#graph {
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 0.8em;
    border: 1px solid black;
    max-width: 800px;
}
#back {
    overflow: hidden;
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    text-shadow: 0 1px 1px black;
    background: rgba(0,0,0,0.3);
    padding: 1em;
    border: 1px solid black;
    cursor: pointer;
}
@media (max-width: 480px) {
    #graph {
        font-size: 0.7em;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
}
*[hidden] {
    display: none !important;
}
#intro {
    max-width: 762px;
    padding: 1em 2em;
    margin: 0 auto;
}
#intro h1 {
    margin: 0;
}
#intro h1 img {
    border: 0;
    width: 100%;
    height: auto;
    display: block;
    color: #727bb3;
}
.orange, .gray {
    display: table;
    margin: 1em auto;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    text-decoration: none;
}
.orange {
    background: #FAAD3F;
    border: 1px solid #c87;
    color: #000;
    box-shadow: inset -2px -4px 7px rgba(180,50,0,0.15);
}
.gray {
    background: #bbb;
    border: 1px solid #888;
    color: #000;
    box-shadow: inset -3px -5px 10px rgba(0,0,0,0.1);
}
.orange:hover, .gray:hover {
    box-shadow: none;
    border-color: #000;
}
svg.example {
    float: left;
    margin: 0 1em 0.5em 0;
    border: 1px solid #ddd;
}
h3 {clear: left;}
